table
{
	border:1px dotted black;
    border-collapse: collapse;
    text-align: center;
}
.head{
    color:red;
    text-align: center;
}
.head_row
{
	color:#041EFC;
}
.head2_row{
	color:#D604FC;
	font-weight: 1000;
	fon
}
th 
{
	padding:10px 40px 10px 40px;
	border:1px dotted black;
	text-align:center;

}
td 
{
	padding:10px 40px 10px 40px;
	border:1px dotted black;
	text-align:center;

}
.head_row ,.row1, .row3
{
	background-color: lightgrey; 
}